.sawir1{
    background-color: gold;
    
}
.sawir2{
    
    margin-inline: 150px;
    
    
}
@media(max-width:715px){
    .sawir2{
        margin: 0;
    }
}
.kuku{
    text-align: center;
}
.kiiyo{
    text-align: center;
}
.korre{
    font-size: 20px;
}
.korre2{
    line-height: 40px;
    
    font-size: 20px;
}
.ensure1{
    text-align: center;
}
.sababo22{
    text-align: center;
}
.nina{
    line-height: 20px;
    font-size: 18px;
}
