.mbango{
    text-align: center;
}
.mbango2{
    text-align: 18px;
    line-height: 20px;
    font-family: sans-serif;
}
.mbango3{
    text-align: center;
}
.mbango55{
    text-align: center;
}
.mbango777{
    text-align: center;
}
.partii{
    text-align: center;
}
.waaruu{
    font-size: 18px;
    line-height: 30px;
}